.nav {
  // border: 1px solid black;
  display: flex;
  width: 100%;
  margin-left: 45%;
  margin-top: 1%;
}

#query-form {
  flex: 1;
  // border: 1px solid black;
  // padding-left: 30%;
  padding-right: 0%;
}

#random-form {
  flex: 3;
  display: flex;
}

.header {
  margin-right: 0.5%;
  margin-left: 5%;
  // border: 1px solid black;
}
